

<hr />
<footer class="footer">
  <p class="author">Made with ❤ by <a class="author-link" href="https://mohanad-80.github.io/portfolio/">Mohanad Ahmed</a>.</p>
  <p class="copyright">Copyright © <%= new Date().getFullYear() %></p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="script.js"></script>
</body>
</html>