<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto+Slab&display=swap" rel="stylesheet">
  <title>To-Do App</title>
</head>
<body>
  <div class="header">
    <h1>To-Do list</h1>
    <div class="nav-bar">
      <a class="today-tasks" href="/">Today</a>
      <a class="work-tasks" href="/work">Work</a>
    </div>
  </div>

